<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.guat.mapper.AnalysisMapper">

    <select id="selectAllUser" resultType="User">
        SELECT * FROM tb_user WHERE id != 1;
    </select>

    <select id="selectDepositUser" resultType="User">
        SELECT DISTINCT username FROM tb_deposit;
    </select>

    <select id="selectUserDepositCount" parameterType="String" resultType="Integer">
        SELECT count(id) FROM (SELECT id FROM tb_deposit WHERE username = #{username}) a;
    </select>

    <select id="selectDepositingBreeds" resultType="Breeds">
        SELECT * FROM tb_breeds WHERE bid IN (SELECT species_id FROM tb_deposit GROUP BY species_id);
    </select>

    <select id="selectDepositBreedsCount" parameterType="Integer" resultType="Integer">
        SELECT COUNT(id) FROM (SELECT id FROM tb_deposit WHERE species_id = #{bid}) a;
    </select>

    <select id="selectDepositingPetfood" resultType="PetFood">
        SELECT * FROM tb_petfood WHERE pid IN (SELECT food_id FROM tb_deposit GROUP BY food_id);
    </select>

    <select id="selectDepositPetfoodCount" parameterType="Integer" resultType="Integer">
        SELECT COUNT(id) FROM (SELECT id FROM tb_deposit WHERE food_id =#{pid}) a;
    </select>

    <select id="selectDepositingService" resultType="Service">
        SELECT id,service_name serviceName FROM tb_service WHERE id IN (SELECT service_id FROM tb_deposit_service GROUP BY service_id);
    </select>

    <select id="selectDepositServiceCount" parameterType="Integer" resultType="Integer">
        SELECT COUNT(service_id) FROM (SELECT service_id FROM tb_deposit_service WHERE service_id =#{serviceId}) a
    </select>

    <select id="selectTotalPrice" resultType="Double">
        SELECT SUM(total_price) total_price FROM tb_deposit;
    </select>

    <!--  通过月份查找托管中的宠物品种  -->
    <select id="selectBreedsByMonth" parameterType="Integer" resultType="Breeds">
        SELECT * FROM tb_breeds WHERE bid IN (
	        SELECT species_id FROM (select * from tb_deposit where YEAR(tb_deposit.endTime)=#{year} AND month(tb_deposit.endTime) = #{month}) a
		GROUP BY species_id)
    </select>

    <!--  通过月份查找托管的宠物品种个数  -->
    <select id="selectBreedsCountByMonth" resultType="Integer">
        SELECT COUNT(id) FROM(SELECT id FROM (select * from tb_deposit where YEAR(tb_deposit.endTime) = #{year} AND month(tb_deposit.endTime) = #{month}) a WHERE species_id = #{speciesId}) b
    </select>

    <!--  通过月份查询某个宠物品种托管的总天数  -->
    <select id="selectBreedsTotalDaysByMonth" resultType="Integer">
        SELECT SUM(day_count) FROM ( select * from tb_deposit where YEAR(tb_deposit.endTime) = #{year} AND month(tb_deposit.endTime) = #{month} AND species_id = #{speciesId}) a
    </select>

    <!--  通过月份查询托管中的宠物粮食品牌  -->
    <select id="selectPetfoodByMonth" parameterType="Integer" resultType="PetFood">
        SELECT * FROM tb_petfood WHERE pid IN (
	        SELECT food_id FROM (select * from tb_deposit where YEAR(tb_deposit.endTime) = #{year} AND month(tb_deposit.endTime) = #{month}) a
		GROUP BY food_id)
    </select>

    <!--  通过月份查询托管中的宠物粮食品牌个数  -->
    <select id="selectPetfoodCountByMonth" resultType="Integer">
        SELECT COUNT(id) FROM(SELECT id FROM (select * from tb_deposit where YEAR(tb_deposit.endTime) = #{year} AND month(tb_deposit.endTime) = #{month}) a WHERE food_id = #{foodId}) b
    </select>

    <!--  通过月份查询托管中的宠物粮食品牌总天数  -->
    <select id="selectPetfoodTotalDaysByMonth" resultType="Integer">
        SELECT SUM(day_count) FROM ( select * from tb_deposit where YEAR(tb_deposit.endTime) = #{year} AND month(tb_deposit.endTime) = #{month} AND food_id = #{foodId}) a
    </select>

    <!--  通过月份查询托管中的服务  -->
    <select id="selectServiceByMonth" parameterType="Integer" resultType="Service">
        SELECT id,service_name as serviceName, price FROM tb_service WHERE id IN(
            SELECT service_id FROM tb_deposit_service WHERE deposit_id IN (
	            select id from tb_deposit where YEAR(tb_deposit.endTime) = #{year} AND month(tb_deposit.endTime) = #{month}
		    ) GROUP BY service_id)
    </select>

    <!--  通过月份查询托管中的服务被选次数  -->
    <select id="selectServiceCountByMonth" resultType="Integer">
        SELECT COUNT(service_id) FROM(
            SELECT * FROM tb_deposit_service WHERE deposit_id IN (
                select id from tb_deposit where YEAR(tb_deposit.endTime) = #{year} AND month(tb_deposit.endTime) = #{month}
            )
        ) a WHERE service_id = #{serviceId}
    </select>

    <!--  通过月份查询托管中的服务收益  -->
    <select id="selectServiceTotalDaysByMonth" resultType="Integer">
        SELECT SUM(day_count) FROM tb_deposit where YEAR(tb_deposit.endTime) = #{year} AND month(tb_deposit.endTime) = #{month} AND id IN(
            SELECT deposit_id FROM tb_deposit_service WHERE service_id = #{serviceId}
        )
    </select>

    <!--  按年显示每月总收益  -->
    <select id="selectProfitByYear" resultType="Double">
        SELECT SUM(total_price) FROM tb_deposit WHERE YEAR(tb_deposit.endTime)=#{year} AND MONTH(tb_deposit.endTime) = #{month} AND state IN(1,3) AND ispay = 1
    </select>

    <!--  查询全部年份  -->
    <select id="selectYears" resultType="Integer">
        SELECT DISTINCT YEAR(tb_deposit.endTime) FROM tb_deposit
    </select>

</mapper>